h1,p{
    text-align: center;
}
body{
    background-image: url('newback.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.card{
    float: right;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}
.container{
    margin-top: 50px;
}

li{
    text-align: center;
   
}
.kiskep{
    max-width: 20px;
    max-height: 20px;
}