.h1{
    color: black;
    text-align: left;
    font-size: large;

}
.th{
padding-right: 50px;
border-radius: 15px;
}
table{
    border-spacing: 20px;
}
body{
    background-color: beige;
}